*{
    box-sizing: border-box;
}

h1 {
    float: center;
}

.content {
    width: 25%;
    border: 1px solid black;
    position: relative;
    float: left;
    margin: 20px;
    background-color: ivory;
    

}

.title {
    border: 1px solid black;
    clear: right;
    float: right;
    background-color: crimson;
    width: 75px;
    height: 20px;
    color: white;

}

/*******Large Devices Only********/
@media (min-width:992px) {
    .col-lg-4, .col-lg-6, .col-lg-12 {
        float: left;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-12 {
        width: 100%;
    }

}

/*******Medium Devices Only********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-4, .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md0-4 {
        width: 33.33%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }

}

/*******Small Devices Only********/
@media (max-width: 767px) {
    .col-sm-4, .col-sm-6, .col-sm-12 {
        float: left;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-12 {
        width: 100%;
    }

}